.button {
  --layout-padding: 8px 16px;
  cursor: pointer;
  background-color: var(--background-color);
  padding: var(--layout-padding);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radus);
  font-size: var(--font-size);
  color: var(--font-color);
}
.button:hover {
  --background-color: var(--color-second);
}
.type-danger {
  --border-color: var(--color-danger);
  --background-color: var(--color-danger);
  --font-color: var(--font-color-highlight);
}
.type-danger:hover {
  --background-color: var(--color-danger-hover);
}
.type-warning {
  --border-color: var(--color-warning);
  --background-color: var(--color-warning);
  --font-color: var(--font-color-highlight);
}
.type-warning:hover {
  --background-color: var(--color-warning-hover);
}
.type-success {
  --border-color: var(--color-success);
  --background-color: var(--color-success);
  --font-color: var(--font-color-highlight);
}
.type-success:hover {
  --background-color: var(--color-success-hover);
}
.type-notice {
  --border-color: var(--color-notice);
  --background-color: var(--color-notice);
  --font-color: var(--font-color-highlight);
}
.type-notice:hover {
  --background-color: var(--color-notice-hover);
}
.type-primary {
  --border-color: var(--color-primary);
  --background-color: var(--color-primary);
  --font-color: var(--font-color-highlight);
}
.type-primary:hover {
  --background-color: var(--color-primary-hover);
}
@import url("../common.scss");
