.input-wrapper {
  display: flex;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radus);
  width: 100%;
  align-items: center;
}
.input {
  height: var(--line-height);
  width: 100%;
  padding: var(--layout-padding);
  font-size: var(--font-size);
}
.focus {
  border-color: var(--border-color-focus);
}
.baseline {
  border-right: none;
  border-top: none;
  border-left: none;
  border-radius: 0;
  input {
    padding: 0;
  }
}
@import url("../common.scss");
