.input-wrapper {
  display: flex;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radus);
  width: 100%;
}
.input {
  height: var(--line-height);
  width: 100%;
  padding: var(--layout-padding);
  font-size: var(--font-size);
}
.focus {
  border-color: var(--border-color-focus);
}

@import url("../common.scss");
