.treenode {
  cursor: pointer;
  user-select: none;
}
.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}
.selectedItem {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-second);
  border-bottom: 1px solid var(--border-color);
}
.item:hover {
  background-color: var(--background-hover);
}
.label {
  display: flex;
  line-height: 32px;
}
.prefix,
.icon,
.suffix {
  display: flex;
  justify-content: center;
  margin-right: 4px;
  align-items: center;
}
.icon {
  width: 24px;
  svg {
    width: 18px;
    height: 18px;
  }
}
.prefix,
.icon {
  height: 100%;
}
.submit {
  cursor: pointer;
  display: flex;
}
.action {
  display: flex;
  align-items: center;
  width: 24px;
  justify-content: center;
  border-radius: 6px;
}
.action:hover {
  background-color: var(--color-second);
  width: 24px;
}
.input {
  --n-height: fit-content !important;
  --n-padding-left: 8px !important;
  --n-padding-right: 8px !important;
}
