.button {
  background-color: transparent;
  border: unset;
  cursor: pointer;
  color: unset;
}
.button:focus {
  outline: none;
}

body {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--font-color-default);
  will-change: auto;
}
div {
  outline: none;
}
