.dropdown {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radus);
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 180px;
  position: absolute;
  z-index: 100;
  padding: var(--layout-padding-t) 0;
  background-color: var(--background-color);
}
.item {
  cursor: pointer;
  position: relative;
}
.title:hover {
  background-color: var(--background-hover);
}
.item:last-child {
  border: none;
}
.children {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(100%);
  top: calc(4px);
  min-width: 180px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radus);
  padding: var(--layout-padding-t) 0;
  background-color: var(--background-color);
}
.title {
  display: flex;
  justify-content: space-between;
  padding: var(--layout-padding);
  user-select: none;
}
.bottom-left {
  left: 0;
}
.bottom-right {
  right: 0;
}
